* {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
  margin-right: 20px;
  margin-left: 20px;
}

div.Readymade {
  color : #F7819F;
  font-family: Arial, Helvetica, sans-serif;
  font-size : 50px;
}

.menubar{
border:none;
background: rgba(255, 255, 255, 0);
border:0px;
margin:0px;
width: 100%;
padding:0px;
font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
font-size:15px;
font-weight:bold;
position: fixed;
top:0px;
z-index: 2;
}

.menubar ul{
background:  rgba(255, 255, 255, 0);
height:50px;
list-style:none;
margin:0;
margin-right:20px;
padding:0;
float: right;
}

.menubar li{
float:left;
padding:0px;
}

.menubar li a{
background:  rgba(255, 255, 255, 0);
color:black;
display:block;
font-weight:normal;
line-height:50px;
margin:0px;
padding:0px 15px;
text-align:center;
text-decoration:none;
}

.menubar li a:hover, .menubar ul li:hover a{
background:none;
color:black;
text-decoration:underline;

}

.menubar li ul{
background: rgba(255, 255, 255, 0);
display:none; /* 평상시에는 드랍메뉴가 안보이게 하기 */
height:auto;
padding:0px;
margin:0px;
border:0px;
width:200px;
position:absolute;
z-index:200;
}

.menubar li:hover ul{
display:block; /* 마우스 커서 올리면 드랍메뉴 보이게 하기 */
}

.menubar li li {
background:  rgba(255, 255, 255, 0);
display:block;
float:none;
margin:0px;
padding:0px;
width:200px;
}

.menubar li:hover li a{
  background:none;
}

.menubar li ul a{
display:block;
height:50px;
font-size:12px;
font-style:normal;
margin:0px;
padding:0px 10px 0px 15px;
text-align:left;
}

.menubar li ul a:hover, .menubar li ul li:hover a{
background:  rgba(255, 255, 255, 0);
border:0px;
color:black;
text-decoration:none;
}

.menubar p{
clear:left;
}


hr {
  background-color: #F7819F;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color : #F7819F;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  color :#F7819F;
}

div.content {
	float:left;
}

div.one {
  display:inline-block;
}

div.two {
  display:inline-block;
}

div.three {
  display:inline-block;
}

div.four {
  display:inline-block;
}

div.five {
  display:inline-block;
}

div.six {
  display:inline-block;
}

div.seven {
  display:inline-block;
}

div.eight {
  display:inline-block;
}

div.nine {
  display:inline-block;
}
.paging ul {
	list-style:none;
	display:inline;
  float : center;
}
.paging ul li a {
	float:left;
	padding:4px;
	margin-left:400px;
	width:15px;
	color:#000;
	font:bold 12px tahoma;
	border:1px solid pink;
	text-align:center;
	text-decoration:none;
}
.paging ul li a:hover, .paing ul li a:focus {
	color:#fff;
	border:1px solid #f40;
	background-color:pink;
}

div.footer {
  margin-bottom: auto;
  width: 100%;
  height: 100%;
  background-color:#F7819F;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
}
